/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background: no-repeat url(../../public/light-off.svg);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background: no-repeat url(../../public/light-on.svg);
  }
}



html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
  background-attachment: fixed;
  background-size: cover;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
} */
:root {
  /* Your default theme */
  --background: url(../../public/light-on.svg);
  --foreground: black;
}

[data-theme="dark"] {
  --background: url(../../public/light-off.svg);
  --foreground: white;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  color: rgb(var(--foreground));
  background-image: var(--background);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
}

/* formStyle */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  width: 100%;
}
.box {
  width: 400px;
  height: 450px;
  border: 2px solid #625d5d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  backdrop-filter: blur(15px);
  background: transparent;
  box-shadow: 10px 12px 8px 5px rgba(127, 127, 127, 0.1);
}
h2 {
  font-size: 2em;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
.inputbox input:focus + label {
  top: 0%;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
}

.inputbox .img {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  top: 15px;
}

.btnSubmit {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #e6e2e2;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 700;
  color: #000;
}
.register {
  font-size: 0.9em;
  text-align: center;
  margin: 20px 0 15px;
}

.register p a {
  text-decoration: none;
  font-weight: 800;
  font-size: 0.9em;
}

.register p a:hover {
  text-decoration: underline;
}

.img {
  object-fit: cover;
}
/** card */

.cards {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 4rem;
}
.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  width: 250px;
  height: 500px;
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 5px solid black;
  box-shadow: 0 0 0 7px #fff, 0 0 8px 5px #000;
}
.card-info {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  color: #000;
  /* transform: translateX(-100%); */
}
.card:hover .card-info {
  transform: translateX(100%);
}
.card-image {
  position: relative;
  width: 100%;
  border-bottom: 5px solid #000;
  z-index: 1;
}
.card-image > img {
  position: absolute;
  z-index: 2;
  height: 100%;
}
#hulk > .card-image {
  height: 55%;
  background-color: #ffdd33;
}
#hulk > .card-image > img {
  width: 150%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

#hulk h2 {
  color: #59c887;
  letter-spacing: -5px;
  line-height: 50px;
  text-align: center;
  margin-top: 10px;
}
#hulk p {
  font-size: 2rem;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
}
#hulk > .card-text {
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
}
.card-text > div {
  display: flex;
  justify-content: space-between;
}
#hulk > .card-text > div > div:first-child {
  display: flex;
  align-items: center;
  padding: 0 20px;
}
#hulk > .card-text > div > div:first-child > span:first-child {
  font-size: 4rem;
  font-weight: 800;
}
#hulk > .card-text > div > div:first-child > span:last-child {
  font-size: 2rem;
  font-weight: 600;
}
#hulk > .card-text > div > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid black;
  border-right: none;
  border-bottom: none;
  padding: 10px 20px;
}
#hulk > .card-text > div > div:last-child > span:first-child {
  font-size: 2rem;
  font-weight: bold;
}
#hulk > .card-text > div > div:last-child > span:last-child {
  font-weight: 500;
}
