.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  /* position: static; */
  backdrop-filter: blur(10px);
}
.active {
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  text-decoration: underline;
}
